<h2>Add your favorites Movies</h2>

<form action="/movies/create" method="POST">
    <label for="name">Name</label>
    <input type="text" name="name">
    
    <label for="occupation">Occupation</label>
    <input type="text" name="occupation">

    <label for="catchPhrase">Catch Phrase</label>
    <input type="text" name="catchPhrase">

    <button type="submit">Add!</button>
</form>

<a href="/">Return</a>